html {
    width: 100%;
}

img {
	width: 200px;
	height: 240px;
	border: solid;
    border-width: 1px;
    box-shadow: 3px 4px 5px olivedrab;
}

form {
	margin-top: 20px; 
    margin-left: 50px;
}

label {
	margin : 15px;
}

.col-auto {
	text-align: center;
}

.color {
	background-color: lightgrey;
}